$default-font: 'PT Sans', sans-serif;
$accent: orange;
$sedona_blue: #81b3d2;
$sedona_gray: #eeeeee;
$text: #333;

$centered: 0 auto;

//Mixins
@mixin maxPageWidth {
  max-width: 1200px;
  width: 100%;
}

@mixin allZero {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
