@import "reset";
@import "vars";
@import "fonts";
@import "libs";
/*Модули сайта*/
@import "partials/header";
@import "partials/bgImageWrap";
@import "partials/indexContent";
@import "partials/footer";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	margin: 0 auto;
	background-color: #F2F2F2;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}

	h1, h2, h3, p, span {
		margin: 0;
	}

	.allPageWrapper {
		background-color: #f8f8f8;
		-webkit-box-shadow: 0 0 30px 1px rgba(0,0,0,.24);
		-moz-box-shadow: 0 0 30px 1px rgba(0,0,0,.24);
		box-shadow: 0 0 30px 1px rgba(0,0,0,.24);

		//Sticky footer
		display: flex;
		min-height: 100vh;
		flex-direction: column;

	}
}

b, strong {
	font-weight: bold;
}

a {
	text-decoration: none!important;
}

dl, ol, ul {
	margin: 0;
}


//СДЕЛАТЬ МИКСИНОМ!
.img-responsive {
	//display: block;

	//margin: $centered;
	//max-width: 100%;
	//width: 100%;
	//max-height: 100%;
	//height: auto;

	//max-width: 100%;
	//width: auto;
	//height: 100%;
}
//СДЕЛАТЬ МИКСИНОМ!

.text-center {
	text-align: center;
}

//Template elements
.template_triangle--big {
	width: 100%;
	height: 54px;
	display: block;
	background-image: url(../img/triangle.png);
	background-repeat: no-repeat;
	background-size: cover;
  }

.template_triangle--small {
	width: 100%;
	height: 37px;
	display: block;
	background-image: url(../img/triangle-small.png);
	background-repeat: no-repeat;
	//background-size: cover;
  }

.template_triangleFake {
	display: block;
	width: 100%;
	height: 36px;
	background-color: $sedona_blue;
}



@import "media"; // Always at the end
