.bgImageWrap {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 358px;

  //background: url("../img/back-desktop.png") 100% 100% no-repeat;
  background: url("../img/back-desktop.png");
  background-repeat: no-repeat;

  img {
    object-fit: scale-down;
    max-width: 80%;
    max-height: 70%;
    position: absolute;
    margin: $centered;

    top: 15%;
    bottom: 0;
    left: 0;
    right: 0;

  }

  .template_triangle--big {
    width: 101%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: 50%, right;

  }

}