.contentWrap {

  //
  .formContent {
    width: 100%;

    display: grid;
    grid-template-areas:
            "bgImageWrap--form"
            "intro"
            "form__impression"
            "form__name"
            "form__contactInfo"
            "form__visitSights"
            "form__describeEmotions";
    grid-template-rows: repeat(7, auto);
    grid-template-columns: 1fr;

    & > div {
      position: relative;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      //padding: 25px 5%;
      padding: 25px 5%;

      &:after {
        content: '';
        display: block;

        width: 100%;
        height: 1px;
        background-color: #e5e5e5;
        bottom: 0;
        position: absolute;
      }

      &:last-child::after {
        display: none;
      }

      h2 {
        //max-width: 50%;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;

        &::before, &::after {
          content: '';
          display: inline-block;
          max-width: 13%;
          height: 1px;
          background-color: #e5e5e5;
          position: absolute;
          margin: 0 5%;
          top: 43px;
        }

        &::before {
          left: 0;
        }

        &::after {
          right: 0;
        }

      }

      form {
        //width: 100%;

        input {
          font-weight: bold;
          color: #000;
        }
      }

    }

    .bgImageWrap--form {
      min-height: 160px;
      grid-area: bgImageWrap--form;

      &::after {
        display: none;
      }
    }

    .intro {
      padding: 10% 0 5%;
      //order: 1;
      grid-area: intro;

      .introTextWrap {
        padding: 0;
        max-width: 510px;
        &:after {
          display: none;
        }

        h1 {
          font-size: 24px;
        }
      }
    }

    .form__impression {
      //order: 4;
      grid-area: form__impression;

     p {
       margin: 15px 0;
       line-height: 64px;

       input[type="radio"] {
         display: none;
       }

       label {
         font-weight: bold;

         &:hover {
           cursor: pointer;
         }

         &:before {
           content: " ";
           color: #000;
           display: inline-block;
           /* шрифт Awesome*/
           //font: 20px/30px FontAwesome;
           font-family: FontAwesome;
           font-size: 25px;
           margin-right: 15px;
           position: relative;
           text-align: center;
           align-items: center;
           text-indent: 0;
           width: 50px;
           height: 50px;
           background: #f2f2f2;
           border: 1px solid #e3e3e3;
           border-radius: 50%;
           border-image: initial;
           vertical-align: middle;
           line-height: 200%;
         }
       }

       input:checked + label:before {
         /* глифон - галочка */
         content: "\f111";

       }

       input:disabled + label:before {
         background: #eee;
         color: #aaa;
       }

     }

    }

    .form__name {
      //order: 2;
      grid-area: form__name;

      form {
        display: flex;
        flex-direction: column;

        p {
          width: 100%;
          margin: 15px 0;
          display: grid;
          grid-template-columns: 30% 70%;
          grid-template-rows: auto;
          //justify-items: center;

          span {
            text-align: left;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 58px;
          }

          input {
            height: 58px;
            border: none;
            background-color: #f2f2f2;
            padding:25px 10px;
          }

        }

      }

    }

    .form__contactInfo {
      //order: 3;
      grid-area: form__contactInfo;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;

        .contactFormInner {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto;
          justify-items: center;
          //width: 100%;

          p.formErrorMessage {
            visibility: visible;
            color: #ff5c5c;
            text-transform: initial;
          }

          p {
            text-transform: uppercase;
            line-height: 58px;
          }

          .inputWrap {
            position: relative;
            width: 100%;

            input {
              //width: 100%;
              height: 58px;
              border: none;
              background-color: #f2f2f2;
              padding:25px 7px;
              width: 100%;
            }

            button {
              position: absolute;
              top:0;
              right: 0;
              width: 58px;
              height: 58px;
              float: right;
              border: none;
              background-color: #e6e6e6;
              i.fa-phone {
                width: 18px;
                height: 18px;
                //transform: rotateX(90deg);
              }

              &:hover {
                background-color: #a6a6a6;
              }
            }
          }
        }
      }

    }

    .form__visitSights {
      //order: 5;
      grid-area: form__visitSights;

      form {
        width: 100%;
        display: -webkit-flex; /* Safari */
        -webkit-flex-wrap: wrap; /* Safari 6.1+ */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        p {
          min-width: 257px;
          display: flex;
          flex-direction: row;
          justify-content: start;

          input[type="checkbox"] {
            display: none;
          }

          label {
            color: #000;
            cursor: default;
            font-weight: bold;
            line-height: 55px;
            font-size: 18px;
            padding: 10px 0;
            vertical-align: middle;

            &:hover {
              cursor: pointer;
            }
          }

          label:before {
            content: " ";
            color: #000;
            display: inline-block;
            /* шрифт Awesome*/
            //font: 20px/30px FontAwesome;
            font-family: FontAwesome;
            margin-right: 15px;
            position: relative;
            text-align: center;
            text-indent: 0px;
            width: 55px;
            height: 55px;
            background: #f2f2f2;
            border: 1px solid #e3e3e3;
            border-radius: 20%;
            border-image: initial;
            vertical-align: middle;
            font-size: 24px;
          }

          input:checked + label:before {
            /* глифон - галочка */
            content: "\f00c";
          }

          input:disabled + label:before {
            background: #eee;
            color: #aaa;
          }
        }


      }





    }

    .form__describeEmotions {
      grid-area: form__describeEmotions;
      position: relative;

      p.required {
        text-transform: uppercase;
        color: #a6a6a6;
        display: none;
      }

      form {
        width: 100%;
        margin-bottom: 55px;

        textarea {
          width: 100%;
          min-height: 180px;
          background-color: #f2f2f2;
          font-weight: bold;
          color: #000;
          padding: 20px 10px;
          font-size: 18px;
          border: none;
        }

      }
      a.blueButton {
        text-transform: uppercase;
      }



    }

  }
}





